body {
  background-color: #f2f2f2; /* Modern grey background */
  color: #333; /* Text color */
}

h1 {
  color: #3498db; /* Blue header text */
}

form {
  background-color: #fff; /* White form background */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input,
button {
  margin-bottom: 10px;
}

button {
  background-color: #3498db; /* Blue button background */
  color: #fff; /* Button text color */
  cursor: pointer;
}

#messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* White message container background */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

button[type="submit"] {
  background-color: #808080; /* Grey delete button background */
  color: #fff; /* Button text color */
  transition: background-color 0.3s; /* Add smooth transition effect */
}

button[type="submit"]:hover {
  background-color: #e74c3c; /* Red delete button background on hover */
}
h3 {
  margin-left: 5px; /* Adjust the spacing between message and delete button */
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  form, #messageContainer {
    max-width: 100%;
  }
  h3 {
    margin-left: 5px; /* Adjust the spacing between message and delete button */
  }
}

@media screen and (min-width: 992px) {
  #messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h3 {
    margin-left: 10px; /* Adjust the spacing between message and delete button */
  }
  button {
    margin-top: 5px; /* Adjust the vertical spacing for the delete button */
  }
}